{% extends "base.html" %} 

{% block content %} 
<!-- {% if form.errors %}
    {% for error in form.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
{% endif %}  -->
<div class="panel panel-default">
    <form method="post" class="panel-body">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}<br>
                <!-- {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %} -->
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Sign Up" class="btn btn-default" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{# Assumes you setup the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
{% endblock %}